<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="nav">
        <nav class="navbar navbar-expand-lg ripe-malinka-gradient white-text ">
            <div class="container">
            <a class="navbar-brand white-text" href="/" ><i class="far fa-newspaper"></i>&nbsp; <strong th:text="#{article-management}">Article Management</strong> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-angle-down"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link white-text" href="/" th:text="#{home}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" href="/category" th:text="#{category}">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" href="#" th:text="#{about}">About us</a>
                    </li>
                </ul>
                <span class="navbar-text white-text">
                  <ul class="navbar-nav" >
                    <li class="nav-item">
                        <a class="nav-link white-text" href="?lang=en" th:text="#{english}">English</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" href="?lang=kh" th:text="#{khmer}">Khmer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white-text" href="?lang=kr" th:text="#{korea}">Korea</a>
                    </li>
                  </ul>
                 </span>
        </div>
        </div>
        </nav>
    </div>
</body>
</html>