<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header(${isAdd}?'Add Article' : 'Update Acticle' )">
</head>
<body>
<div th:replace="fragment/nav :: nav"></div>
<div class="card card-image mb-3"
     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
    <!-- Content -->
    <div class="text-white text-center d-flex justify-content-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Article</h5>
            <h3 class="card-title pt-2"><strong th:text="#{article-management}">Article Management</strong></h3>
            <p th:text="#{welcome}">Welcome to Article Management</p>
            <a class="btn btn-pink" href="/" th:text="#{list-all-article}">List All Article</a>
        </div>
    </div>
    <!-- Content -->
</div>
<div class="container">
    <h1 class="pink darken-4 white-text p-2" th:text="${isAdd}? #{add-article} : #{update-article} ">Add Article
        Management</h1>

    <a class="btn btn-pink white-text" href="/" th:text="#{back-to-list-article}">Back to HomePage</a>

    <form class="border border-light p-5" th:action="${isAdd}? '/add': '/update'" method="post"
          enctype="multipart/form-data">

        <div class="row" th:object="${article}">
            <div class="col-8">
                <div style="display: none">
                    <b th:text="#{id}"></b>
                    <input class="form-control mb-4" type="text" th:field="*{id}">
                </div>
                <b th:text="#{title}"></b>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                              style="color: red"></span>

                <input class="form-control mb-4" type="text" th:field="${article.title}">

                <b th:text="#{category}"></b>
                <select class="browser-default custom-select mb-4" th:field="${article.category.id}">
                    <option th:each="category:${categories} " th:text="${category.name}" th:value="${category.id}" ></option>
                </select>

                <b th:text="#{desc}"></b>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red"></span>
                <input class="form-control mb-4" type="text" th:field="${article.description}">

                <b th:text="#{author}"></b>
                <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red"></span>

                <input class="form-control mb-4" type="text" th:field="${article.author}">



            </div>
            <div class="col-4 text-white ripe-malinka-gradient text-center" >
                <h4 class="my-3" th:text="#{image}">Chose Image for Article</h4>
                <img id="image" style="width: 200px;height: 250px; margin: 5px;margin: 10px 0px" th:if="*{imageName==null}" th:src="'/Image/no-image.jpg'">
                <img id="image" style="width: 200px;height: 250px; margin: 5px;" th:if="*{imageName!=null}" th:src="'/Image/'+*{imageName}">
                <input type="hidden" th:field="${article.imageName}">
                <input class="m-3" onchange="readURL(this)" type="file" name="file" >
            </div>

        </div>

        <input class="btn btn-pink white-text" type="submit" th:value="${isAdd} ? #{submit} : #{save}">
    </form>
</div>
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>