<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Add Category')">

</head>
<body>
<div th:replace="fragment/nav :: nav"></div>
<div class="card card-image mb-3"
     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
    <!-- Content -->
    <div class="text-white text-center d-flex justify-content-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Article</h5>
            <h3 class="card-title pt-2"><strong th:text="#{article-management}">Article Management</strong></h3>
            <p th:text="#{welcome}">Welcome to Article Management</p>
            <a class="btn btn-pink" href="/category" th:text="#{list-all-category}">List Category</a>
        </div>
    </div>
    <!-- Content -->
</div>
<div class="container">
    <h1 class=" pink darken-4 white-text p-2" th:text="${isAddCat}? #{add-category} : #{update-category} ">
        Management</h1>

    <a class="btn btn-pink white-text" href="/" th:text="#{back-to-list-article}">Back to List Article</a>

    <form class="border border-light p-5" th:action="${isAddCat}? '/addCategory': '/updateCategory'" method="post">

        <div class="row" th:object="${category}">
            <div class="col-8">
                <div style="display: none">
                    <b th:text="#{id}"></b>
                    <input class="form-control mb-4" type="text" th:field="*{id}">
                </div>
                <b th:text="#{category-name}"></b> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                              style="color: red"></span>

                <input class="form-control mb-4" type="text" th:field="${category.name}">

            </div>
        </div>

        <input class="btn btn-pink white-text " type="submit" th:value="${isAddCat} ? #{submit} : #{save}">
    </form>
</div>
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>