<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Category')">
</head>
<body>
<div th:replace="fragment/nav :: nav"></div>
<div class="card card-image mb-3"
     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
    <!-- Content -->
    <div class="text-white text-center d-flex justify-content-center rgba-black-strong py-5 px-4">
        <div>
            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Article</h5>
            <h3 class="card-title pt-2"><strong th:text="#{article-management}">Article Management</strong></h3>
            <p th:text="#{welcome}"></p>
            <a class="btn btn-pink" href="/addCategory" th:text="#{add-category}">Add New Category</a>
        </div>
    </div>
    <!-- Content -->
</div>
<div class="container">
    <div class=" pink darken-4 white-text p-2">
        <h1 th:text="#{list-all-category}">List All Category</h1>
    </div>
    <table class="table table-striped text-center">
        <tr class="pink darken-2 white-text">
            <th scope="col" th:text="#{id}">ID</th>
            <th scope="col" th:text="#{category-name}">Category Name</th>
            <th scope="col" th:text="#{action}">Action</th>
        </tr>

        <tr th:each="category: ${categories}" th:object="${category}">
            <td scope="row" th:text="*{id}"></td>
            <td scope="row" th:text="*{name}"></td>
            <td>
                <a class="pink white-text p-2 " style="border-radius: 20%" th:href="@{/deleteCategory/{id}(id=*{id})}"><i class="far fa-trash-alt"></i></a>
                <a class="purple white-text p-2" style="border-radius: 20%" th:href="@{/updateCategory/{id}(id=*{id})}"><i class="far fa-edit"></i></a>
            </td>
        </tr>
    </table>
    <ul class="pagination pink lighten-3 p-2 w-100 text-center">
        <li class="page-item" >
            <a th:class="${pages.size()<=1}?'disabled page-link':'page-link'"  aria-label="First" th:href="@{/category/page/{page}(page='1')}">
                <span aria-hidden="true" th:text="#{first}">First</span>
            </a>
        </li>
        <li class="page-item" >
            <a th:class="${pages.size()<=1}?'disabled page-link':'page-link'"  aria-label="Previous" th:href="@{/category/page/{page}(page=${PreviousPage==0||PreviousPage==null}? ${pages.size()}:${PreviousPage})}">
                &laquo&nbsp; <span aria-hidden="true" th:text="#{previous}"> Previous</span>
            </a>
        </li>

        <li th:each="p:${pages}" th:class="${p==curPage} ?'page-item active':'page-item'"><a th:text="${p}"  class="page-link" th:href="@{/category/page/{page}(page=${p})}">1</a></li>

        <li class="page-item">
            <a th:class="${pages.size()<=1}?'disabled page-link':'page-link'"   aria-label="Next" th:href="@{/category/page/{page}(page=${nextPage==null}?'2':(${nextPage>pages.size()}?'1':${nextPage}))}">
                <span aria-hidden="true" th:text="#{next}">Next</span>&nbsp; &raquo;

            </a>
        </li>
        <li class="page-item">
            <a th:class="${pages.size()<=1}?'disabled page-link':'page-link'"  aria-label="Last" th:href="@{/category/page/{page}(page=${pages.size()})}">
                <span aria-hidden="true"​ th:text="#{last}">Last</span>

            </a>
        </li>
    </ul>
</div>
<div th:replace="fragment/footer :: footer"></div>
</body>
</html>