<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('Home')">

</head>
<body>
    <div th:replace="fragment/nav :: nav"></div>
    <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
        <!-- Content -->
        <div class="text-white text-center d-flex justify-content-center rgba-black-strong py-5 px-4">
            <div>
                <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Article</h5>
                <h3 class="card-title pt-2"><strong th:text="#{article-management}">Article Management</strong></h3>
                <p th:text="#{welcome}">Welcome to Article Management</p>
                    <a class="btn btn-pink" href="/add" th:text="#{add-article}">Add new Article Here</a>
            </div>
        </div>
        <!-- Content -->
    </div>
    <div class="container">
        <div class="pink darken-4 white-text p-2">
            <h1 style="float: left;" th:text="#{list-all-article}">List All Article</h1>
            <form class="form-inline" action="/" style="margin-left: 55%" method="get">
                <b th:text="#{category}">Category:</b>
                <select class="browser-default custom-select m-2" th:name="catId">
                    <option selected th:text="#{all}" th:value="0">All</option>
                    <option th:each="category:${categories} " th:text="${category.name}" th:value="${category.id} " > </option>
                </select>
                <input class="form-control mr-sm-2" type="text" th:placeholder="#{search}" aria-label="Search" th:name="title">
                <button class="btn ripe-malinka-gradient white-text btn-sm my-0" type="submit" th:text="#{search}">Search</button>
            </form>

        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped text-center">
                    <tr class="  pink darken-2 white-text">
                        <th scope="col" th:text="#{id}">ID</th>

                        <th scope="col" th:text="#{title}">Title</th>
                        <th scope="col" th:text="#{desc}">Description</th>
                        <th scope="col" th:text="#{author}">Author</th>
                        <th scope="col" th:text="#{category}">Category</th>
                        <th scope="col" th:text="#{create-date}">Create Date</th>
                        <th scope="col" th:text="#{image}">Thumbnail</th>
                        <th class="text-center" colspan="3" scope="col" th:text="#{action}">Action</th>
                    </tr>

                    <tr th:each="article: ${articles}" th:object="${article}">
                        <td scope="row" th:text="*{id}">ID</td>

                        <td th:text="*{title}">Title</td>
                        <td th:text="*{description}">Description</td>
                        <td th:text="*{author}">Author</td>
                        <td th:text="*{category.name}">category</td>
                        <td th:text="*{createdDate}">Create Date</td>
                        <th><img style="width: 50px;height: 50px" th:src="'/Image/'+*{imageName}"></th>
                        <td>
                            <a class="pink white-text p-2 " style="border-radius: 20%" th:href="@{/delete/{id}(id=*{id})}"><i class="far fa-trash-alt"></i></a>
                        </td>
                        <td>
                            <a class="purple white-text p-2" style="border-radius: 20%" th:href="@{/update/{id}(id=*{id})}"><i class="far fa-edit"></i></a>
                        </td>
                        <td>
                            <a class="red white-text p-2" style="border-radius: 20%" th:href="@{/view/{id}(id=*{id})}"><i class="far fa-eye"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <ul  class="pagination pink lighten-3 p-2 w-100 text-center">
            <li class="page-item" >
                <a   th:class="${pages.size()<=1}?'disabled page-link':'page-link'"  aria-label="First" th:href="@{/page/{page}(page='1')}">
                    <span aria-hidden="true" th:text="#{first}">First</span>
                </a>
            </li>
            <li class="page-item" >
                <a  th:class="${pages.size()<=1}?'disabled page-link':'page-link'"  aria-label="Previous" th:href="@{/page/{page}(page=${PreviousPage==0||PreviousPage==null}? ${pages.size()}:${PreviousPage})}">
                    &laquo&nbsp; <span aria-hidden="true" th:text="#{previous}"> Previous</span>
                </a>
            </li>

            <li th:each="p:${pages}" th:class="${p==curPage} ?'page-item active':'page-item'"><a th:text="${p}"  class="page-link" th:href="@{/page/{page}(page=${p})}">1</a></li>

            <li class="page-item">
                <a th:class="${pages.size()<=1}?'disabled page-link':'page-link'"  aria-label="Next" th:href="@{/page/{page}(page=${nextPage==null}?'2':(${nextPage>pages.size()}?'1':${nextPage}))}">
                    <span aria-hidden="true" th:text="#{next}">Next</span>&nbsp; &raquo;

                </a>
            </li>
            <li class="page-item">
                <a  th:class="${pages.size()<=1}?'disabled page-link':'page-link'"  aria-label="Last" th:href="@{/page/{page}(page=${pages.size()})}">
                    <span aria-hidden="true"​ th:text="#{last}">Last</span>

                </a>
            </li>
        </ul>


    </div>
    <div th:replace="fragment/footer :: footer"></div>
</body>
</html>