<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header::header('View')"></head>
<body th:object="${article}">
    <div th:replace="fragment/nav :: nav"></div>
    <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
        <!-- Content -->
        <div class="text-white text-center d-flex justify-content-center rgba-black-strong py-5 px-4">
            <div>
                <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Article</h5>
                <h3 class="card-title pt-2"><strong th:text="#{article-management}">Article Management</strong></h3>
                <p th:text="#{welcome}">Welcome to Article Management</p>
                <a class="btn btn-pink" href="/" th:text="#{list-all-article}">List All Article</a>
            </div>
        </div>
        <!-- Content -->
    </div>
    <div class="container">
        <h1 class="pink darken-4 white-text my-3 p-2" th:text="#{article}">Article</h1>
        <div class="row">
            <div class="col-8">
                <b th:text="#{id}">ID</b><p th:text="*{id}"></p>
                <b th:text="#{title}">Title</b><p th:text="*{title}"></p>
                <b th:text="#{category}">Category</b><p th:text="*{category.name}"></p>
                <b th:text="#{desc}">Description</b><p th:text="*{description}"></p>
                <b th:text="#{author}">Author</b><p th:text="*{author}"></p>
                <b th:text="#{create-date}">Create Date</b> <p th:text="*{createdDate}"></p>
            </div>
            <div class="col-4 text-white">
                <img style="width: 200px;height: 250px;float: right" th:src="'/Image/'+*{imageName}">
            </div>
        </div>
        <hr>
        <p>
            Martin Luther King and the Montgomery Story

            Copies of all three installments (as well as a slipcase containing all three)
            When John Lewis was 15 years old and living in rural Alabama, 50 miles south of
            Montgomery, he first heard of Rosa Parks, Martin Luther King, Jr., and the Montgomery
            Bus Boycott through James Lawson, who was working for the Fellowship of Reconciliation (F.O.R.)
            . Lawson introduced Lewis to Martin Luther King and the Montgomery Story, a 10-cent comic book

        </p>
    </div>


    <div th:replace="fragment/footer :: footer"></div>

</body>
</html>